.selectorContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 20px 20px; 
    width: 70%; 
    gap: 15px;
    overflow-x: hidden; 
}

.selectWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto; 
    margin: 0 5px;
    min-width: 220px;
    max-width: 250px;
}

.selectWrapper label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ant-picker,
.basicSingle {
    width: 100%;
    min-width: 220px;
    max-width: 250px;
}

.basicSingle {
    flex-grow: 1;
}

.dataButton {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background 0.3s;
    margin-top: 1.5%;
    min-width: 140px;
    align-self: center;
    height: 35px;
}

.dataButton:hover {
    background-color: #666;
}

.icon {
    font-size: 18px;
}


@media (max-width: 768px) {
    .selectorContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 100%;
        max-width: 100%;
        padding: 10px;
        margin: auto;
    }


    .dataButton {
        width: 100%;
        max-width: 250px; 
    }
}
